.App {
  min-height: 100vh;
}

.App-header {
  justify-content: center;
  font-size: 30px;
  text-align: center;
  margin-bottom:10px;
  height:10vh;
  padding-right:5px;
}

.loader {
	position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* .categories {
	display: flex;
	flex-direction: column;
}

.category {
	  margin-bottom: 1em;
}
.category > button {
	width: 100%;
	
}

.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item > span {
	margin-top:5px;
} */
